#intro
  %h1 QuakeOut: The Earthquake Locator
  %p Type in a location and find earthquakes that have occurred in that area 
%table
  %tr
    %td
      #map_canvas{:style => 'width: 750px; height:400px'} 
    %td
      %table
        %tr
          %td
            #search_field
              = form_tag :root, :remote => true do
                = text_field_tag :location, @location
                = submit_tag 'Search Location'
          %tr
            %td
              #locations
                %h2 Matches
                .results

#list
  %h1 The Top 10 Largest Earthquakes in the Last 12 Months
  .list_results

