body{
 font-family: Arial;
}

#intro{
  text-align: center;
}

#content {
  font-size: 14px;
}

td {
  vertical-align: top;
}
#search_field input{
  font-size: 30px;
}

#locations{
  text-align: center;
}
